<h1>Listing assets</h1>

<table>
  <thead>
    <tr>
      <th>Oid</th>
      <th>Retrievalurl</th>
      <th>Activefrom</th>
      <th>Activeto</th>
      <th>Objecttype</th>
      <th>Eventtype</th>
      <th>Description</th>
      <th>Lang</th>
      <th>License</th>
      <th>Length</th>
      <th>Mimetype</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @assets.each do |asset| %>
      <tr>
        <td><%= asset.oid %></td>
        <td><%= asset.retrievalURL %></td>
        <td><%= asset.activeFrom %></td>
        <td><%= asset.activeTo %></td>
        <td><%= asset.objectType %></td>
        <td><%= asset.eventType %></td>
        <td><%= asset.description %></td>
        <td><%= asset.lang %></td>
        <td><%= asset.license %></td>
        <td><%= asset.length %></td>
        <td><%= asset.mimeType %></td>
        <td><%= link_to 'Show', asset %></td>
        <td><%= link_to 'Edit', edit_asset_path(asset) %></td>
        <td><%= link_to 'Destroy', asset, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Asset', new_asset_path %>
